.venv
instance
__pycache__/
.pytest_cache/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.pot~
*.swp
*.swo
*.swn
*.swm
*.swp
*.swo
.dist-info
*.egg-info
*.egg
*.egg-info
.dist

edgedata*
instance/werewolf.db
