{% extends 'struktur.html' %}
<!--@generated-->

{% block body %}

<!--
 Ein Beweis für kollketive Idiotie
<script>
    var rolle = `{{ rolle }}`;
    if (rolle.includes("Werwolf")==true) {
            document.write`<div class='container-fluid' style='margin-top:30px'>
                <h1>Bitte warte bis alle Spieler abgestimmt haben</h1>
                </div>`;
    }
</script>  -->

<div class="container-fluid" style="margin-top: 30px">
  <h1>
    Bitte warte, bis die anderen Spieler ihre Aktionen abgeschlossen haben.
  </h1>
  <div>
    <br />
    <div class="container"></div>

    <script>
      //weiterleiten zu einer anderen Seite nach einer Sekunde
      setTimeout(function () {
        window.location.href =
          "{{ url_for('auf_andere_warten',name=name,rolle=rolle) }}";
      }, 10000);
    </script>

    {% endblock %}
  </div>
</div>
