{% extends 'struktur.html' %}

{% block body %}
    
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
            <h2>{{rolle}}</h2>
        </div>
    </div>
        <div class="col-md-11"> 
        </div class="col-md-10">
  <!--Rolleneigenes-->
     

    <div class="row">
        <div class="col-md-12">
            <h3>Deine Teammates</h3>

            {% for el in names if "Werwolf" in el and not name in el %} 
    
            <div class='team'><p id ='inTag'>{{el |replace("=", "") |replace("Werwolf", "") }}</p></div><br>
        
{% endfor %}

        </div>
        <h3>Wähle eine feindliche Person</h3>
        {% for el in names if not "Werwolf" in el and not 'Tot' in el and not 'Erzaehler' in el and not '*' in el %} 
            
    <div class='enemyteam'>
        <a href ="/{{name}}/{{rolle}}/{{el|replace("=","")|replace("Dorfbewohner","")|replace("Hexe","")|replace("Seherin","")|replace("Jäger","") }}/wer_tot">
            <p id ='inTag'>{{ el|replace("=", "") |replace("Dorfbewohner", "") |replace("Hexe", "") |replace("Seherin", "") |replace("Jäger", "")|replace("", "")}}</p></a></div><br>
        <br><br> 
    {% endfor %}
      </div>





{% endblock %}

