{% extends 'struktur.html' %}

{% block body %}
    
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
            <h2>{{rolle}}</h2>
        </div>
    </div>
        <div class="col-md-11"> 
        </div class="col-md-10">
  <!--Rolleneigenes-->
     

    <div class="row">
        <div class="col-md-12">
            <h3>Deine Teammates</h3>

            {% for el in names[1:] %} <!--for EachLine in names...-->
    <script>
        
        var text = `{{ el }}`;
        
        if (text.includes("Werwolf") && !text.includes("{{ name }}")) {
            text = text.replace("=", "");
            text = text.replace("Werwolf", "");
            document.write("<div class='team'><p id ='inTag'>"+text+"</p></div><br>");
        }
    </script>
{% endfor %}
        </div>

      </div>





{% endblock %}

