{% extends 'struktur.html' %}

{% block body %}
    
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
            <h2>Alle:</h2>
        </div>
    </div>
         
        
  <!--Rolleneigenes-->
     
<div class="row">
    <div class="col-md-12">
        <h3>Abstimmen</h3>
        <br>

    </div>   

    <div  class='wahlbalkenIframe'>
        <iframe src="{{ url_for('wahlbalken') }}" height=1000px scrolling="no"></iframe>
    </div>

    

<ul class="wahllist">
        {% for el in nurNamen if el != name  %}
        <script>
            
          
            console.log("{{el}}");	
            var text = "{{el}}";    
                
                if (text.includes("Erzaehler")==false) {
                    
                        //write a button leading to  '/{{ name }}/{{ rolle }}/wahl/{{ el }}'
                       // document.write("<li><a href='/{{ name }}/{{ rolle }}/wahl/{{ el }}'>{{ el }}</a></li>");
                        document.write("<li><button onclick=location.href='../../waehlen/{{ name }}/{{ rolle }}/{{ el }}' class='wahlfeld' id='"+text+"' >"+text+"</p></button></li><br><br><br>");
                        btn = document.getElementById(text);
                        btn.addEventListener('click', function onClick(event) {
                            console.log(document.activeElement);
                            console.log(text+""); 
                        });
                    }
                
            
        </script>

        {% endfor %}
        </ul>
<div>
    <div class="container-fluid">
        <iframe src="{{ url_for('wahl_stats') }}" height=20% scrolling="no"></iframe>
    </div>
</div>
</div>
    


{% endblock %}