{% extends 'struktur.html' %}
<!--@generated-->

{% block body %}

<div class="container-fluid" style="margin-top: 30px">
  <h1 id="rot">Fehler | 403</h1>
  <h4>Hierfür hast du keine Berechtigung.</h4>
  <button
    type="button"
    class="btn btn-danger"
    data-bs-toggle="button"
    aria-pressed="false"
    autocomplete="off"
    onClick="goBack();"
  >
    Zurück
  </button>
</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>

{% endblock %} {% block footer %}

<small
  ><a href="https://github.com/Error404UNameNotFound"
    >Error404UNameNotFound</a
  ></small
>
{% endblock %} {% block script %}
<script src="../../../../static/scripts/rot.js"></script>
{% endblock %}
