{% extends 'struktur_ohne_nav.html' %}
<!--@generated-->

{% block body %}
<h1>log| refresh alle 10 Sekunden</h1>

<div class="container-fluid" style="margin-top: 30px">
  <ul style="list-style: none; text-align: left">
    <div id="refresh">
    {% for line in log %}
    <li>{{line|replace("ae","ä")}}</li>
    {% endfor %}
  </ul>
  </div>
</div>

<script>
//refresh the div class refresh every 1 second
setInterval(function(){
  
  $('#refresh').load('/log #refresh');
}, 10000);


  </script>


{% endblock %}
