{% extends 'struktur.html' %}
<!--@generated-->

{% block body %}

<div class="container">
    <div class="row g-3">


            
        {% for name,rolle,status in nurListen %}

        <div class='col-md-3 border offset-md-1 offset-xl-1 offset-sm-0 offset-0 rounded-2'>
            <h3>Rolle</h3>

            <img src='../static/images/sheep.png' class='img-fluid rounded-top' alt='Image'>
            
            

            <ul class='list-group'>
                <li class='list' style='list-style: none'>Name: {{name}}</li>
                <li class='list' style='list-style: none'>Rolle: {{rolle}}</li>

                {% if rolle == status %}

                <li class='list' style='list-style: none'>Status: Lebend</li>

                {% else %}

                <li class='list' style='list-style: none'>Status: {{status}}</li>

                {% endif %}



            </ul>
        </div>

        {% endfor %}
                


        
    </div>
</div>



{% endblock %}