{% extends 'struktur.html' %}
<!--@generated-->

{% block active_a %} active {% endblock %} {% block body %}
<div class="container-fluid" style="margin-top: 30px">
  <h3>Hi, <span class="name">{{ name.upper() }}</span></h3>
  <p>Du bist einer von {{ players }} Spielenden</p>
  {{token}}
  <p>Du hast die Rolle <span class="name">{{ operator.upper() }}</span></p>

  <script>
    //delete all cookies
    function deleteAllCookies() {
      var cookies = document.cookie.split(";");

      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
      }
    }
    // call the function to delete all cookies
    deleteAllCookies();

    //set Cookie to with name token to value {{ token }}
    function setCookie(name, value) {
      document.cookie = name + "=" + value + "; path=/";
    }
    // call the function to set a cookie
    setCookie("token", "{{ token }}");
  </script>

  {% if operator.upper() == "Erzaehler" %}
  <script>
    //redirect to "{{ url_for('erzaehler') }}"
    window.location.href = "{{ url_for('erzaehler') }}";
  </script>

  {% else %}

  <script>
    //freshpaint identify {{ name }}
    freshpaint.identify({
      name: "{{ name }}",
      role: "{{ operator }}",
      token: "{{ token }}",
    });
  </script>

  <a
    name=""
    id=""
    class="btn btn-danger"
    href="{{ url_for('spezielles_Dashboard', name=name, rolle=operator) }}"
    role="button"
    >Als {{ operator }} spielen</a
  >
  {% endif %}
</div>

{% endblock %}
