<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
<meta charset="utf-8">
<link rel="apple-touch-icon" sizes="128x128" href="../../../../static/images/wolf_icon.png">
<link rel="icon" type="image/png" href="../../../../static/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes"> 
<!-- Bootstrap CSS v5.2.0-beta1 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
<!-- Custom CSS -->
<link rel="stylesheet" href="../../../../../../static/css/style.css">
<!-- Custom fonts -->
<link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>  
 
<title>Wer?Wölfe!</title>
</head>

<body onload="setTimeout(rot, 2000)" >
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Werwölfe-2.0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
          <a class="nav-link {% block active_a %}{% endblock %}" href="{{ url_for('index') }}">Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block active_b %}{% endblock %}" href="{{ url_for('einstellungen') }}">Einstellungen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block active_c %}{% endblock %}" href="{{ url_for('erzaehler') }}">Erzähler</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  {% block body %}{% endblock %}
 
  {% block script %}
<script src="../../../../../../static/scripts/rot.js"></script>

  
  {% endblock %}
  

  <footer class="footer fixed-bottom">
       <span>&copy;{{ now.year }} <a class="link link-dark" href="https://github.com/SpotlightForBugs/werwoelfe">SpotlightForBugs</a>, <a class="link link-dark" href="https://github.com/Error404UNameNotFound">Error404UNameNotFound</a> und <a class="link link-dark" href="https://github.com/BlackTesseract">BlackTessseract</a></span> <!--aktuelles Datum als Copyright, automatisch generiert-->
    </div>
</footer>
  

</body>


</html>