<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">



</head>

<body>
    <title>Du hast Verloren!</title>
    <h1>Du Hast Verloren!<br/> Das generische Team hat dich besiegt</h1>
    <br/>
    <h2>Hier findet ihr die Spielenden-Uebersicht</h2> 

  

    <script>
        function setIframeheight(iframe){
            iframe.height = iframe.contentWindow.document.scrollHeight;
        }

    </script>


    <iframe src="overview_innocent.html", scrolling="auto", height="600"></iframe>
</body>
</html>
