{% extends 'struktur_ohne_nav.html' %}
<!--@generated-->

{% block body %} {% for el in names if el != name %}
<script>
  console.log("{{el}}");
  var text = "{{el}}";
  if (text.includes("{{ name }} =") == false) {
    document.write(
      "<div class='wahlbalken' id = " + text + ">" + text + "</div><br>"
    );
  }

  function changeStyle(id, count) {
    var element = document.getElementById(id);
    element.style.width = count + "%";
  }

  changeStyle("{{el}}", 50);
</script>

{% endfor %} {% endblock %}
