{% extends 'struktur.html' %}

{% block body %}

{% for el in nurNamen %}
        <script>
            
          
            console.log("{{el}}");	
            var text = "{{el}}";    
                
                if (text.includes("Erzaehler")==false) {
                    if (text.includes("{{ name }} =")==false) {
                        //text = text.replace(" = Dorfbewohner", "");
                        //text = text.replace(" = Werwolf", "");
                        //text = text.replace(" = Hexe", "");
                        //text = text.replace(" = Seherin", "");
                        //text = text.replace(" = Jäger", "");
 

                        //document.write(`<a href="/{{ name }}/{{ rolle }}/wahl/`+text+`"> <div class='wahlfeld'><p id ='inTag'>`+text+`</p></div></a><br> 
                        //<br><br>`);
                        document.write("<div class='wahlbalken'>dsfsd</div><br><br>");
                        btn = document.getElementById(text);
                        btn.addEventListener('click', function onClick(event) {
                            console.log(document.activeElement);
                            console.log(text+"");
                        });
                    }
                }
            
        </script>

        {% endfor %}




{% endblock %}