<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../../../../../../static/css/style.css'">
</head>
{% for el in names %}
        <script>
            
          
            console.log("{{el}}");	
            var text = "{{el}}";    
            if (text.includes("{{ name }} =")==false) {
                        
                document.write("<div class='wahlbalken' id = "+text+">"+text+"</div><br>");

                //neuladen der seite, jede sekunde
                refresh = setInterval(function() {
                    location.reload();
                }, 1000);
                
                        
            }
            
        </script>

{% endfor %}




</html>